include ../global/head
include ../global/header
include ../global/footer
include ../components/svg

//- -
//-   const pageName = ['Page name']

doctype html
html(lang="ru")
  +head('Главная')
  body.layout
    +header()
    main
      a(href="index.html").back.container Назад
      section.container.diagramm-main
        .diagramm-main__wrap
          .diagramm-main__content
            .diagramm-main__title-main
              h1 Шаблон 1
            .diagramm-main__preview
              .diagramm-main__table-content
                a(href="#").diagramm-main__table-items
                  .diagramm-main__table-delete
                    img(src="img/delete.png", alt="delete")
                  .diagramm-main__table-img
                    img(src="img/diag.png", alt="name")
                  .diagramm-main__table-title
                    h2 Лето
                a(href="#").diagramm-main__table-items
                  .diagramm-main__table-delete
                    img(src="img/delete.png", alt="delete")
                  .diagramm-main__table-img
                    img(src="img/diag.png", alt="name")
                  .diagramm-main__table-title
                    h2 Зима
              .diagramm-main__compare
                p Выберите нужные диаграммы используя shift+clict и нажмите кнопку 'Сравнить' для сравнения диаграмм.
                button(type='button') Сравнить
            .diagramm-main__main-wrap
              .diagramm-main__data-entry
                .diagramm-main__title
                  h2 Введите данные
                form(action="#").diagramm-main__form
                  .diagramm-main__parameter-container
                  button(type='button').diagramm-main__add-parameter Добавить параметр
                  button(type='button').diagramm-main__apply Применить
              .diagramm-main__diagramm
          .diagramm-main__save
            button(type='button') Сохранить диаграмму
    +footer

    script(src="js/vendor.js")
    script(src="js/main.js")
