include ../global/head
include ../global/header
include ../global/footer
include ../components/svg

//- -
//-   const pageName = ['Page name']

doctype html
html(lang="ru")
  +head('Главная')
  body.layout
    +header()
    main
      a(href="index.html").back.container Назад
      section.container.diagramm-template
        .diagramm-template__wrap
          .diagramm-template__content
            .diagramm-template__title-main
              h1 Новый шаблон
            .diagramm-template__main-wrap
              .diagramm-template__data-entry
                .diagramm-template__title
                  h2 Введите данные
                form(action="#").diagramm-template__form
                  .diagramm-value
                    label(for="name") Название шаблона
                    input(type="text" id='name')
                  .diagramm-value
                    label(for="par1") Параметр 1
                    input(type="text" id='par1')
                  .diagramm-value
                    label(for="par2") Параметр 2
                    input(type="text" id='par2')
                  .diagramm-value
                    label(for="par3") Параметр 3
                    input(type="text" id='par3')
                  button(type='button').diagramm-template__add-parameter Добавить параметр
                  button(type='button').diagramm-template__apply Применить
              .diagramm-template__diagramm
                canvas
          .diagramm-template__save
            button(type='button') Сохранить шаблон
    +footer

    script(src="js/vendor.js")
    script(src="js/main.js")
