mixin head(title)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    meta(name="description" content="Описание страницы сайта. Описание страницы сайта.")
    link(rel="preload" href="fonts/PT_Root_UI_Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
