* {
    margin: 0;
    padding: 0;
}

.diagram {
    background: red;
}

.diagram:hover {
    cursor: pointer;
}

.diagram-display {
    background: green;
    position: relative;
    height: 100px;
}

.diagram-display > .close {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
}

.diagram-display > .close:hover {
    cursor: pointer;
}

.diagram-display > canvas {
    position: static;
    width: 100%;
    height: 100%;
}

.diagram-list {
    background: blue;
    padding: 10px;
}

.diagram-list > .diagram + .diagram {
    margin-top: 10px;
}

.diagram-constructor {
    background: orange;
    padding: 10px;
}
