* {
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover {
    cursor: pointer;
}

.diagram-display {
    background: green;
    height: 100px;
}

.diagram-display > canvas {
    width: 100%;
    height: 100%;
}

.diagram-list {
    background: blue;
    padding: 10px;
}

.diagram-list > .diagram,
.diagram-list > .create {
    background: red;
}

.diagram-list > .diagram:hover,
.diagram-list > .create:hover {
    cursor: pointer;
}

.diagram-list > .diagram {
    margin-top: 10px;
}

.diagram-constructor {
    background: orange;
    position: relative;
    padding: 10px;
}

.diagram-reviewer {
    background: coral;
    position: relative;
    padding: 5px;
}
